#container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;     /* use grid for two-dimensional */
    grid-template-rows: 25% 25% 25% 25%;        /* use flex for one-dimensional */
    width: 200px;
    height: 200px;
}